.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 15px 9px 15px;
  background-color: $temporary-bgc;

  @media screen and (min-width: 1024px) {
    padding: 24px 47px 33px 47px;
  }

  @media screen and (min-width: 1280px) {
    padding: 24px 85px 33px 85px;
  }

  &__list {
    display: flex;
    gap: 20px;

    @media screen and (min-width: 1024px) {
      gap: 80px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: $accent-color;
    fill: $accent-color;

    @media screen and (min-width: 1024px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__phone {
    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;
      margin-left: 46px;
    }

    @media screen and (min-width: 1024px) {
      margin-left: 40px;
    }
  }
  &__contact {
    @media screen and (max-width: 1023px) {
      display: none;
    }

    font-size: 14px;
    line-height: 1.214;
    color: $white-color;
  }
}
