.hero {
  text-align: center;
  color: $white-color;
  background-color: $temporary-bgc;

  @media screen {
    
  }

  &__logo {
    font-size: 96px;
    margin-bottom: 24px;

    @media screen and (min-width: 1024px) {
      font-size: 128px;
      margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;

    @media screen and (min-width: 1024px) {
      margin-bottom: 56px;
      font-size: 20px;
      line-height: 1.2;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 64px;
    }
  }

  &__subtitle {
    margin-bottom: 113px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;

    @media screen and (min-width: 1024px) {
      margin-bottom: 137px;
      font-size: 36px;
      line-height: 1.14;
    }
  }
  &__address {
      margin-left: auto;
      margin-bottom: 70px;
  }

  &__button {
    @media screen and (max-width: 1023px) {
      margin-bottom: 16px;
    }
  }

  &__box {
    @media screen and (min-width: 1024px) {
      display: flex;
        align-items: center;
        justify-content: space-between;
      }
    

    @media screen and (min-width: 1024px) and (max-width: 1279px){
        margin-bottom: 25px;
      }
    
  }
}
