.logo {
  display: block;
  font-family: 'FilmP3', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: $white-color;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
  }
}

.logo__about {
  margin-bottom: 12px;
  font-size: 40px;
    line-height: 43px;
    color: $logo-dark;
}
