.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px 0;

  &__container {
    position: relative;
    width: 100%;
    max-width: 414px;;
    max-height: 668px;
    padding: 60px 16px;
    background-color: $main-bgc;
    border-radius: 2px;
    overflow-y: auto;

    @media screen and (min-width: 1024px){
        max-width: 712px;
            max-height: 638px;
            padding: 60px;
    }
  }

  &__title {
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.05em;
    color: $black;

    @media screen and (min-width: 1024px) {
            font-size: 40px;
                line-height: 1.15;
        }
  }

  &__close {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    color: $black;
    fill: $black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &__button {
    text-transform: uppercase;
    padding: 20px 43px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: $white-color;
    background-color: $black;
    border: 1px solid $accent-color;
    border-radius: 2px;

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $black;
    }

        @media screen and (min-width: 1024px) {
            width: 100%;
            padding: 18px 117px;
            font-size: 24px;
            line-height: 1.21;
        }
  }
}
