.social {
    display: flex;
    gap: 20px;

    &__link {
        fill: $accent-color;
    }
}

.social__header {
    @media screen and (max-width: 1279px) {
            display: none;
        }
}

.social__hero {
   display: flex;
   align-items: flex-end;
}