$primary-font: 'Montserrat', sans-serif;
$primary-font-size: 16px;

$primary-gray-text-color: #5F5F5F;
$secondary-gray-text-color: #BABABA;
$light-gray-text-color: #B4B4B4;
$logo-gray-color: #494848;
$main-bgc: #FFFDEE;
$black: #000000;
$white-color: #FFFFFF;
$address-color: #E5E5E5;
$accent-color: #F3C653;
$accent-secondary-color:#C79002;
$logo-dark: #494848;
$placeholder-color:#808080;
$footer-bgc: #0E0C07;
$bgc-image: #DADADA;


$temporary-bgc: rgba(0, 0, 0, 0.65);